.App{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
select option{
    cursor: pointer;
}
button{
    border: none;
    color: white;
    height: 35px;
    width: 50px;
    background-color: blue;
    border-radius: 10%;
    cursor: pointer;
}

button:disabled{
    background-color: lightblue;
}

.form__input-field{
    border: 1px solid lightgray;
    height: 30px;
    width: 300px;
}

.form__add-btn{
    margin-left: 10px;
}

.form__list{
    position: absolute;
    margin-top:20px;
}

.form__items{
    min-width: 355px;
    padding:15px 0 15px 0;
    border: 1px solid lightgray;
}

.form__items:not(:first-child){
    border-top:none;
}

.form__clean-btn {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
}

.form__clean-btn img{
    width: 20px;
    height: 20px;
}

.form__buttons{
    padding-top:20px;
}

.form__select{
    display: flex;
    margin-bottom: 40px;
}

